:root {
    --primary-color: #ff6b6b;
    --bg-color: #2d3436;
    --card-bg: #353b48;
    --text-color: #dfe6e9;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: end;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    width: fit-content;
    margin-bottom: 15px;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 300px;
    font-size: 1rem;
}
.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.btn.primary { background-color: var(--primary-color); color: white; }
.btn.secondary { background-color: transparent; border: 2px solid var(--primary-color); color: var(--primary-color); }
.btn:hover { opacity: 0.8; }


.btn-placeholder {
    width: 40px; 
    visibility: hidden;
}
.fa-heart{
  padding-left:3.3px;
  padding-right:3.4px;
}

.fav-btn { background: none; border: none; font-size: 1.5rem; cursor: pointer; color: #ccc; }
.head > .fav-btn:hover { transform: scale(1.2); transition: ease-in-out 0.3s; }
.fav-btn.active { color: var(--primary-color); }

